:root {
    --aubergine: #483F4D;
    --chartreuse: #BBD460;
    --off-white: #FEFCE3;
    --cyan: #3CCDC9;
    --yale-blue: #19445B;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e8e8e8;
}

h2 {
    font-family: 'Fredericka the Great';
    text-align: center;
    color: var(--aubergine);
    border-bottom: 1px solid var(--aubergine);
    margin-bottom: 20px;
}

.container {
    margin: 20px auto;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    background-color: white;
}

/* APP */

.logo {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 3.5em;
    letter-spacing: .05em;
    margin: .2em 0;
}

.logo > a {
    color: var(--yale-blue);
}

.logo > a:hover {
    text-decoration: none;
}

/* NAVIGATION */

.new-list-btn {
    padding: 15px 0;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5em;
    letter-spacing: .05em;
}

.navbar {
    background-color: var(--aubergine);
}

.navbar-brand, .navbar-text {
    color: var(--off-white) !important;
}

.navbar button, .search-button {
    background-color: var(--cyan);
    border: none;
}

.navbar button:hover, .search-button:hover {
    background-color: #30A4A0;
}

.navbar-text > a:hover {
    text-decoration: none;
}

/* CREATE NEW */

.create-list-form {
    width: 90%;
    border-radius: 10px;
    background-color: white;
}

.create-btn {
    background-color: var(--yale-blue);
    border: none;
}

.create-btn:hover {
    background-color: #46697B;
}

/* SEARCH RESULTS */

.searchResults {
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em 20px;
}

.searchResults > div.media > img, .user-image {
    border-radius: 5px;
    max-height: 50px;
    max-width: 50px;
    margin-left: .5em;
}

.searchResults > div.media > a {
}

.searchResults > div.media {
    padding-top: 1em;

}

.searchResults > div.media:nth-last-child(n+2)  {
    border-bottom: 1px solid var(--aubergine);
}

.searchResults > div.media:first-of-type {
    border-top: 1px solid var(--aubergine);
    margin-top: .6em;
}

.searchResults > div.media:hover  {
    background: #666666;
}

.searchResults > div.media > a  > div.media-body {
    margin-left: 2em;
}

.searchResults > div {
    padding-bottom: 10px;
}

.badge {
    margin-left: 10px;
    font-size: 1.1em;
}

/* LIST */

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list-header i {
    float: right;
    padding-left: 5px;
}

i {
    color: black;
}

i:hover {
    color: var(--chartreuse);
}

i:visited {
    color: black;
}

.list-header > div {
    width: 100%;
}

.list-header a {
    color: black;
}

.list-header a:hover {
    text-decoration: underline;
}

.user-name {
    padding-left: 25px;
}

.container p {
    margin-top: 20px;
}

.container > div {
    border-bottom: 1px solid var(--aubergine);
}

/* ITEM */

.grayscale {
    filter: grayscale(100%);
    opacity: 0.5;
}

.item-container {
    margin: 20px 0;
    border-bottom: 1px solid var(--aubergine);
}

.item-container img {
    max-width: 75px;
}

.item-container i {
    padding-left: 5px;
}
